.config/gtk-2.0/gtkfilechooser.ini
.config/gtk-3.0/bookmarks
.config/fish/fishd.*
*.log
logs/

.config/polybar/scripts/news/**/__pycache__
.config/polybar/scripts/news/env
.config/polybar/scripts/news/*.json
.config/polybar/scripts/news/*.txt
.config/polybar/scripts/news/config.py
