!-------------------------------------------------------------------------------
! Colors
!-------------------------------------------------------------------------------

*.foreground:  {{ colors.base.05 }}
*.background:  {{ colors.base.00 }}
*.cursorColor: {{ colors.base.05 }}
*.color0:      {{ colors.base.00 }}
*.color1:      {{ colors.base.08 }}
*.color2:      {{ colors.base.0B }}
*.color3:      {{ colors.base.0A }}
*.color4:      {{ colors.base.0D }}
*.color5:      {{ colors.base.0E }}
*.color6:      {{ colors.base.0C }}
*.color7:      {{ colors.base.05 }}
*.color8:      {{ colors.base.03 }}
*.color9:      {{ colors.base.08 }}
*.color10:     {{ colors.base.0B }}
*.color11:     {{ colors.base.0A }}
*.color12:     {{ colors.base.0D }}
*.color13:     {{ colors.base.0E }}
*.color14:     {{ colors.base.0C }}
*.color15:     {{ colors.base.07 }}
*.color16:     {{ colors.base.09 }}
*.color17:     {{ colors.base.0F }}
*.color18:     {{ colors.base.01 }}
*.color19:     {{ colors.base.02 }}
*.color20:     {{ colors.base.04 }}
*.color21:     {{ colors.base.06 }}

!-------------------------------------------------------------------------------
! Cursor theme
!-------------------------------------------------------------------------------

Xcursor.theme:              "{{ gtk.cursors }}"
Xcursor.size:               32

!-------------------------------------------------------------------------------
! Xft fonts
!-------------------------------------------------------------------------------

Xft.dpi:                    110
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle:              hintslight
Xft.lcdfilter:              lcddefault
