!-------------------------------------------------------------------------------
! Colors
!-------------------------------------------------------------------------------

*.foreground:  #e9e9f4
*.background:  #282936
*.cursorColor: #e9e9f4
*.color0:      #282936
*.color1:      #ea51b2
*.color2:      #ebff87
*.color3:      #00f769
*.color4:      #62d6e8
*.color5:      #b45bcf
*.color6:      #a1efe4
*.color7:      #e9e9f4
*.color8:      #626483
*.color9:      #ea51b2
*.color10:     #ebff87
*.color11:     #00f769
*.color12:     #62d6e8
*.color13:     #b45bcf
*.color14:     #a1efe4
*.color15:     #f7f7fb
*.color16:     #b45bcf
*.color17:     #00f769
*.color18:     #3a3c4e
*.color19:     #4d4f68
*.color20:     #62d6e8
*.color21:     #f1f2f8

!-------------------------------------------------------------------------------
! Cursor theme
!-------------------------------------------------------------------------------

Xcursor.theme: "capitaine-cursors"
Xcursor.size:  24

!-------------------------------------------------------------------------------
! Xft fonts
!-------------------------------------------------------------------------------

Xft.dpi:       110
Xft.antialias: true
Xft.rgba:      rgb
Xft.hinting:   true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
