configuration {
	modi: "drun";
	font: "IBM Plex Sans 16";
	show-icons: true;
	terminal: "alacritty";
	icon-theme: "la-capitaine";
	eh: 2;
	dpi: 93;
	display-run: "Run";
	display-ssh: "SSH";
	display-drun: "Search";

  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}
@theme "themer"
