configuration {
	modi: "drun";
	width: 30;
	lines: 1;
	columns: 1;
	padding: 0;
	show-icons: false;
	terminal: "kitty";
	eh: 1;
	hide-scrollbar: true;
	fullscreen: false;
	dpi: 110;
	theme: "base16-dmenu";
}