background "{{ colors.normal.background }}"
geometry 3x1+3284+1393
max_geometry 3x1
grow_gravity W
icon_gravity E
icon_size 22
slot_size 40

scrollbars horizontal
scrollbars_size 8
scrollbars_step 4
scrollbars_highlight "{{ colors.normal.blue }}"

decorations none
dockapp_mode none
fuzzy_edges 0
skip_taskbar false
sticky true
vertical false
window_layer bottom
window_strut none
window_type dock
no_shrink false
