gtk-theme-name="{{ gtk.theme }}"
gtk-icon-theme-name="{{ gtk.icons }}"
gtk-font-name="{{ font.sans.name }} {{ font.sans.size }}"
gtk-cursor-theme-name="{{ cursor.theme }}"
gtk-cursor-theme-size={{ cursor.size }}
gtk-toolbar-style=GTK_TOOLBAR_ICONS
gtk-toolbar-icon-size=GTK_ICON_SIZE_MENU
gtk-button-images=1
gtk-menu-images=1
gtk-enable-event-sounds=0
gtk-enable-input-feedback-sounds=0
gtk-xft-dpi=93
gtk-xft-antialias=1
gtk-xft-hinting=1
gtk-xft-hintstyle="hintmedium"
gtk-xft-rgba="rgb"
